/* General page styles */
/**/
/* Here, we are going to define particular styles for the app, such as
colors etc. The rest (regarding media queries) are going to be stored in
the next section, where maedia queries are actually defined. We will also
have here some static elements, that should not change depending on
screen dimension */

/* Font Roboto is used everywhere, so it will be 'global' for all
text containing elements for this application */
body {
  font-family: 'Roboto'
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

/* Media queries for different devices */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* Sticky footer sections and its elements */
  footer {
    background-color: #333333;
    height: 20px;
    color: #666666;
    text-align: center;
  }

  .footer-elements {
    padding-top: 2px;
  }

  #footer-separator {
    width: 70%;
    margin: auto;
    margin-top: 12px;
    border-top: 1px solid #4d4d4d;
  }
  #pgs-signature {
    width: auto;
    font-size: 10px;
  }

  .container:after, footer {
    height: 50px;
  }

  /* React components styling */
  /**/

  .navbar-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-bottom: 1px solid #cccccc;
      margin-left: 3em;
      margin-right: 3em;
  }

  .navbar-list li {
      float: left;
  }

  .navbar-list li a {
      display: block;
      text-align: center;
      padding: 8px 12px;
      text-decoration: none;
      color: #808080;
      font-weight: 600;
  }

  /* NavBar.js styles */
  .navbar-child-content-active {
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1.5px solid #ff751a;
    color: #ff751a;
    font-weight: 600;
  }

  .navbar-container {
    background-color: white;
  }

  /* Logo.js styles */
  .company-logo {
    width: 112px;
    padding-top: 24px;
    margin-left: 3em;
    display: block;
    margin-bottom: 18px;
  }

  /* Frames.js styles */
  .about-frames {
    margin:0 auto;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 24px;
  }

  .about-frame {
    width: 312px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .about-frame img {
    width: 100%;
    height: 80%;
  }

  .about-frame p {
    color: #666666;
  }

  .frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-frame .frame-content-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;
    margin-right: 18px;
  }

  .about-frame .frame-content-text {
    font-size: 12px;
    margin-left: 18px;
    margin-right: 18px;
  }

  /* CameraSnapshot.js styling */
  .snapshot-frames {
    margin: 0 auto;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
  }

  .snapshot-container {
    width: 408px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .snapshot-container img {
    width: 100%;
    display: block;
  }

  .snapshot-header p {
    margin: 0;
  }

  .snapshot-header p:first-child {
    text-align: right;
    padding-top: 2px;
    padding-right: 2px;
    font-size: 12px;
    color: #8c8c8c;
  }

  .snapshot-header p:nth-child(2) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
    color: #666666;
  }

  .loading-indicator img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* Form.js component styling */
  .form-container {
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: white;
    align-items: center;
  }

  .form-container form {
    padding: 18px;
    text-align: center;
  }

  .form-container input {
    margin: 8px;
    border: 0px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }

  .form-container input:nth-child(2) {
    margin-bottom: 32px;
  }

  .form-container #send-btn {
    background-color: #66b3ff;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    float: right;
    margin-right: 17%;
  }

  /* Styling main application container with acknowledgment of
  sticky footer */
  .container {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .container:after {
    content: "";
    display: block;
  }
}

@media screen and (min-width: 768px) {
  /* Sticky footer sections and its elements */
  footer {
    background-color: #333333;
    height: 20px;
    color: #666666;
    text-align: center;
  }

  .footer-elements {
    padding-top: 4px;
  }

  #footer-separator {
    width: 428px;
    margin: auto;
    margin-top: 12px;
    border-top: 1px solid #4d4d4d;
  }
  #pgs-signature {
    width: auto;
    font-size: 10px;
  }

  .container:after, footer {
    height: 50px;
  }

  /* React components styling */
  /**/

  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    margin-left: 13em;
    margin-right: 13em;
  }

  .navbar-list li {
      float: left;
  }

  .navbar-list li a {
    display: block;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    color: #808080;
    font-weight: 600;
  }

  /* NavBar.js styles */
  .navbar-child-content-active {
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 1.5px solid #ff751a;
    color: #ff751a;
    font-weight: 600;
  }

  .navbar-container {
    background-color: white;
  }

  /* Logo.js styles */
  .company-logo {
    width: 128px;
    padding-top: 28px;
    margin-left: 13em;
    display: block;
    margin-bottom: 24px;
  }

  /* Frames.js styles */
  .about-frames {
    margin:0 auto;
    padding-left: 13em;
    padding-right: 7em;
    padding-top: 36px;
    display: inline-block;
    justify-content: center;
  }

  .about-frame {
    width: 302px;
    margin-left: 24px;
    float: left;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .about-frame img {
    width: 100%;
    height: 80%;
  }

  .about-frame p {
    color: #666666;
  }

  .frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-frame .frame-content-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;
    margin-right: 18px;
  }

  .about-frame .frame-content-text {
    font-size: 12px;
    margin-left: 18px;
    margin-right: 18px;
  }

  /* CameraSnapshot.js styling */
  .snapshot-frames {
    margin: 0 auto;
    padding-top: 36px;
    padding-left: 13em;
    display: inline-block;
  }

  .snapshot-container {
    width: 448px;
    float: left;
    margin-right: 36px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .snapshot-container img {
    width: 100%;
    display: block;
  }

  .snapshot-header p {
    margin: 0;
  }

  .snapshot-header p:first-child {
    text-align: right;
    padding-top: 2px;
    padding-right: 2px;
    font-size: 12px;
    color: #8c8c8c;
  }

  .snapshot-header p:nth-child(2) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
    color: #666666;
  }

  .loading-indicator img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* Form.js component styling */
  .form-container {
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: white;
    align-items: center;
  }

  .form-container form {
    padding: 18px;
    text-align: center;
  }

  .form-container input {
    margin: 8px;
    border: 0px;
    border-bottom: 1px solid #cccccc;
    color: black;
  }

  .form-container input:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .form-container #send-btn {
    background-color: #66b3ff;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    float: right;
    margin-right: 17%;
  }

  /* Styling main application container with acknowledgment of
  sticky footer */
  .container {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .container:after {
    content: "";
    display: block;
  }
}
